*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'helvetica neue' ;
  color:white
}
body, html{
  height: 100%;
  width: 100%;
  background-color: black;
}

h1{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  white-space: nowrap;
  text-decoration: underline;
}
.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  background-color: rgb(118, 25, 43);
  padding: 20px 40px;
  
}
.navbar div{
   display: flex;
    align-items: center;
    gap: 40px;
     
}