*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family : 'helvetica neue';
}

html,body{
  height:100%;
  width:100%;
}
button{
  /* height: 0; */
  padding: 10px 20px;
  margin:20px;

}
h1{
  /* height: 0; */
  background: gainsboro;
  width: fit-content;
  font-size: 100px;
  border-radius: 5px;
  padding: 10px 70px;
  margin:20px;

}
