 @import "tailwindcss";
/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'helvetica neue' ;
}
body, html{
  height: 100%;
  width: 100%;
}
input,button{
  padding:10px 20px;
  margin: 10px;
  gap:15px;

} */ 